body{
    margin: 0;
    font-family: arial;
    background-color: rgb(248, 248, 248);

}
p{
    margin: 0;
}
.main-wrapper{
    margin-top: 50px;
    display: flex;
    justify-content: center;

}
.wrapper{
    border-style: solid;
    border-color: rgb(202, 202, 202);
    border-width: 2px;
    max-width: 400px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding-bottom: 20px;
    padding: 50px;
    background-color: rgb(250, 250, 250);
}
.block1{
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding: 20px;
}
.block2{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    justify-content: center;
}
.input-staffs{
    display: flex;
    justify-content: center;
    border-width: 2px;
    position: relative;
    column-gap: 10px;
}
.guide{
    font-size: 14px;
    position: absolute;
    top: -13px;
    left: 25px;
}
.warning{
    font-size: 12px;
    color: rgb(201, 19, 19);
    width: 120px;
    position: absolute;
    right: 7px;
    bottom: 0px;
    opacity: 0;
    
}
.input-staffs .input-staffs-box2{
    display: flex;
    min-width: 300px
}
.text-box-input,
.select{
    padding: 10px 20px;
    font-size: 17px;
    width: 100%;
    outline: none;
    border-style: none;
    border-color: rgb(204, 203, 203);
    box-shadow: 0px 4px  rgba(202, 201, 201, 0.521);
    border-bottom-style: solid;
    border-left-style: solid;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
::placeholder{
    font-size: 17px;
}
.select{
max-width: 400px;
font-size: 17px;
}
.block3{
    display: flex;
    justify-content: center;
    column-gap: 2px;
    align-items: center;
}
.block3 p{
    color: grey;
    font-size: 13px;
}
.submit{
    position: relative;
}
/* this class is invisible javascript adds the class "visible" to this classList an to overide opacity if condition is met */
.submit-warning-note{
    font-size: 12px;
    position: absolute;
    text-wrap: nowrap;
    bottom: -20px;
    color: rgb(201, 19, 19);
    opacity: 0;
    left: 0px;
}
.next{
    background-color: rgb(245, 244, 244);
    padding: 12px 50px;
    font-size: 16px;
    border-style:none;
    border-color: rgb(204, 203, 203);
    box-shadow: 0px 4px  rgba(202, 201, 201, 0.521);
    border-bottom-style: solid;
    border-left-style: solid;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    margin-top: 30px;
}
.next:active, .clear-button:active a:active{
    border-color: rgb(204, 203, 203);
    box-shadow: 0px 5px  rgba(202, 201, 201, 0.221);
    opacity: 0.5;
}

.checkbox{
    position: absolute;
    left: 20px;
    bottom: -40px;
}    
/* makes warning visible this class is injected by js*/
.visible{
    opacity:1;
}
.line-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: grey;
    font-size: 13px;
}
.line{
    width: 100px;
    height: 2px;
    background-color: rgb(219, 219, 219);

}
.block4{
    display: flex;
    padding-left: 25px;
    font-size: 14px;
    justify-content: space-between;
    padding-right: 15px;
}
.css-signin{
    text-decoration: none;
    text-transform:none;
    color: black;
}

a{
    text-decoration: none;
}
